*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.background_clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.vd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: normal;
    margin-top: 3px;
    background-color:rgba(0, 0, 0, 0.842);
}
.logo{
    display: flex;
    justify-content: center;
    width:30%;
    height:95% ;
}
#menu{
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.first{
    display: flex;
    justify-content: left;
    align-items:start;
    margin-left: 100px;
    margin-top: 20px;
}
.second{
    margin-right: 100px;
    margin-top: 25px;
}
.btn{
    background-color: yellow;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    font-size: large;
    padding: 9px;
}
.content h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.content h2{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    text-align:left;
    margin-left: 60px;
    margin-top: 300px;
    margin-bottom: 60px;
    color: white;

}
@media (min-aspect-ratio:16/9){
    .background_clip{
        width: 100%;
        height: auto;
    }
}
body{
    background-color:white;
}
.page{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 300px;
}
.page h2{
    text-decoration: underline;
}
.third h2 h1{
    text-align: center;
}
.btnn{
    background-color:rgba(255, 251, 0, 0.973);
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    font-size: large;
    padding: 20px;
}
.d_btn{
    color: black;
    border-color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.third{
    text-align: center;
}


.fourth{
    background-color: black;
    background-image: url(./assets/annerimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fourth h1{
    color: white;
    margin-left: 100px;
    font-size:60px;
}
p{
   margin-left: 100px;
   margin-right: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.btnnnn{
    margin-left: 100px;
    padding: 20px;
    background-color: white;
    color: black;
}
.fifth h3{
    display:inline;
    align-items:center;
    justify-content:space-between;
    color: white;
    font-size: 10px;
    text-decoration: underline;
    margin-left: 50px;
}
.fifth_p{
   margin-left: 100px;
   margin-right: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 450px;
    margin-bottom: 50px;
}
.fifth{
     background-color: rgb(27, 26, 26);
    color: white;
    background-image:url("./assets/model_chooser_temerario.jpg");
    background-size: cover;
}
h2{

    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
}
.fi_h2{
    margin-left: 130px;
    font-size: 30px;
     font-style: normal;
   
}
.fi_h1{
    margin-left: 130px;
    font-size: 70px;
    font-style: normal;
}
.fi_el{
    padding-top: 80px;
     text-align: center;
     font-size: 20px;
     color: beige;
}
a:link{
    color: white;
}
.btn5{
    padding: 15px;
    margin-left: 130px;
    background-color: rgb(241, 241, 30);
    color: rgb(8, 1, 1);
    width: 230px;
    height: 80px;
     font-weight: 400px;
}
.btn6{
    padding: 15px;
    margin-left: 131px;
    font-weight: 400px;
     background-color: black;
    color: rgb(243, 240, 240);
    font-style: normal;
     width: 230px;
    height: 80px;
}
.footer{
    background-color: black;
    display: flex;
    align-items: center;
}

